apidocs

*.py[cod]

# C extensions
*.so

# Packages
*.whl
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
htmlcov

# Local copies of test_argparse.py for unit testing and argparse.py for doc building
/local_test_*.py
/argparse.py

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# IDEs
.idea

.eggs/
*.whl
