[project]
	description = A drop-in replacement for argparse that allows options to also be set via config files and/or environment variables.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bw2
[access "refs/for/refs/*"]
	read = group user/bw2
	push = group user/bw2
	label-Code-Review = -2..+2 group user/bw2
	label-Verified = -1..+1 group user/bw2
	rebase = group user/bw2
	removeReviewer = group user/bw2
	submit = group user/bw2
[access "refs/heads/*"]
	read = group user/bw2
	create = group user/bw2
	push = +force group user/bw2
	pushMerge = group user/bw2
[access "refs/tags/*"]
	push = group user/bw2
	push = +force group user/bw2
