name: unit tests

on:
  push:
    branches: [ master ]
    tags:
      - '*'
  pull_request:

jobs:
  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }} ${{ matrix.use-docker && '(docker)' || '' }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - name: Legacy Python on Ubuntu
            os: ubuntu-latest
            python-version: '3.6'
            use-docker: true
          - name: Legacy Python on Ubuntu
            os: ubuntu-latest
            python-version: '3.7'
            use-docker: true
          - name: Legacy Python on Ubuntu
            os: ubuntu-latest
            python-version: '3.8'
            use-docker: true

        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.9','3.10','3.11','3.12','3.13']
        use-docker: [false]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        if: ${{ !matrix.use-docker }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests with Docker
        if: ${{ matrix.use-docker }}
        run: |
          docker run --rm -v ${{ github.workspace }}:/app -w /app python:${{ matrix.python-version }} bash -c "
            python -m pip install --upgrade pip setuptools wheel tox
            python -m pip install '.[test]'
            pytest --cov-branch --cov-context=test --cov=.
          "

      - name: Run tests
        if: ${{ !matrix.use-docker }}
        run: |
          python -m pip install --upgrade pip setuptools wheel tox
          python -m pip install '.[test]'
          pytest --cov-branch --cov-context=test --cov=.

      - name: Set artifact name
        shell: bash
        run: |
          ARTIFACT_NAME="coverage-${{ runner.os }}-py-${{ matrix.python-version }}"
          ARTIFACT_NAME="${ARTIFACT_NAME//./}"
          echo "ARTIFACT_NAME=$ARTIFACT_NAME" >> "$GITHUB_ENV"

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          include-hidden-files: true
          if-no-files-found: error
          name: ${{ env.ARTIFACT_NAME }}
          path: .coverage
          retention-days: 1

  coverage:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: downloaded_artifacts

      - name: Clean up temporary artifacts
        uses: geekyeggo/delete-artifact@v5
        with:
          name: coverage-*

      - name: Install dependencies
        run: pip install coverage

      - name: Combine coverage.py
        run: |
          coverage combine $(find downloaded_artifacts/ -type f | xargs)
          coverage xml
          coverage html
          coverage report --format=markdown >> $GITHUB_STEP_SUMMARY
          cp downloaded_artifacts htmlcov/all_coverage
          cp coverage.xml htmlcov/coverage.xml
          cp -r .coverage htmlcov/.coverage

      - name: Upload single coverage artifact
        uses: actions/upload-artifact@v4
        with:
          include-hidden-files: true
          if-no-files-found: error
          name: htmlcov
          path: htmlcov
          # Retention days for main branch is 90 days, for other branches is 1 day
          retention-days: ${{ github.ref == 'refs/heads/master' && 90 || 1 }}

  release:
      needs: coverage
      name: PyPI
      runs-on: ubuntu-latest
      environment: pypi
      permissions:
        id-token: write
      steps:
        - uses: actions/checkout@v4

        - name: Set up Python 3.12
          uses: actions/setup-python@v5
          with:
            python-version: 3.12
        
        - name: Install build dependencies
          run: |
            python -m pip install -U setuptools wheel

        - name: Build
          run: |
            python setup.py --quiet build check sdist bdist_wheel
            ls -alh ./dist/

        - name: Publish to PyPI - on tag
          if: startsWith(github.ref, 'refs/tags/')
          uses: pypa/gh-action-pypi-publish@release/v1
